.vscode/**
.vscode-test/**
src/**
scripts/**
docs/**
.gitignore
.git/**
tsconfig.json
package-lock.json
**/*.map
**/*.ts
**/*.log
**/*.env
**/.env*
**/*.pem
**/*.key
**/*.p12
**/*.jks
**/*.keystore
**/keystore.properties
**/*.signing.properties
**/test/**
**/tests/**
**/npm-debug.log*
**/.gitkeep
**/coverage/**
**/.travis.yml
**/.eslintrc.json
**/.eslintignore
**/.prettierignore
!out/**/*.js
!README.md
!LICENSE
