.vscode/**
.vscode-test/**
src/**
scripts/**
docs/**
media/Call-Desk-icon (2).png
.gitignore
.git/**
→
tsconfig.json
package-lock.json
**/*.map
**/*.ts
node_modules/**/README*
node_modules/**/CHANGELOG*
node_modules/**/CONTRIBUTING*
node_modules/**/.jshintrc
node_modules/**/.npmignore
node_modules/qrcode/bin/**
**/*.log
**/*.env
**/.env*
**/*.pem
**/*.key
**/*.p12
**/*.jks
**/*.keystore
**/keystore.properties
**/*.signing.properties
**/test/**
**/tests/**
**/npm-debug.log*
**/.gitkeep
**/coverage/**
**/.travis.yml
**/.eslintrc.json
**/.eslintignore
**/.prettierignore
!out/**/*.js
!README.md
!LICENSE
